.modal-feedback {
  position: fixed;
  top: 170px;
  left: 50%;
  z-index: 20;

  display: none;
  width: 477px;
  box-sizing: border-box;
  margin-left: -238px;

  color: #000;
  background: #f8f7f4;
}

.modal-feedback__header {
  padding: 20px 20px;
  text-align: center;
  background: #242831;
}

.modal-feedback-show {
  display: block;

  -webkit-animation: zoomIn 1s;
  animation: zoomIn 1s;
}

.modal-feedback__title{
  display: block;
  font-size: 1.6em;
  text-transform: uppercase;
  color: #fff;
}

.modal-feedback__text {
  color: #fff;

  &--color {
    color: #f8ac00;
  }
}

.modal {
  position: relative;
  padding: 15px 30px;
  display: flex;
  flex-direction: column;
}

.modal input {
  padding: 10px 10px;
  margin-bottom: 10px;
}

.modal textarea {
  padding: 10px 10px;
  margin-bottom: 10px;
}

.modal__btn {
  padding: 10px 10px;
  background-color: #f8ac00;
  border: none;
  border-bottom: 5px solid #da9701;
  outline: none;
  text-transform: uppercase;
}

@-webkit-keyframes zoomIn {
  0% {
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);

    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  0% {
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);

    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

//---------------------------
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 19;

  display: none;
  width: 100%;
  height: 100%;

  background-color: rgba(0,0,0,.3);
}

.modal-overlay-show {
  display: block;
}

//кнопка -----------------

.modal-content-close {
  position: absolute;
  top: 5px;
  right: 5px;

  width: 40px;
  height: 30px;

  font-size: 0;

  cursor: pointer;

  border: 0;
  outline: 0;
  background-color: transparent;
  z-index: 3;
}

.modal-content-close::before,
.modal-content-close::after {
  position: absolute;
  content: "";
  right: 5px;
  width: 30px;
  height: 3px;

  border-radius: 1px;
  background-color: #f8ac00;
  z-index: 0;
}

.modal-content-close:hover {

  &:after {
    background-color: #fff;
  }

  &:before {
    background-color: #fff;
  }
}

.modal-content-close::before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.modal-content-close::after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
// нонец кнопки --------------

@media (max-width: 414px) {
  .modal-feedback {
    margin-left: 137px;
    top: 87px;
    left: -33%;
    width: 414px;
  }
}

@media (max-width: 375px) {
  .modal-feedback {
    margin-left: 135px;
    top: 60px;
    left: -36%;
    width: 376px;
  }

  .modal {
    padding: 15px 20px;
  }
}

@media (max-width: 320px) {
  .modal-feedback {
    margin-left: 160px;
    top: 25px;
    left: -50%;
    width: 321px;
  }

  .modal {
    padding: 15px 15px;
  }
}
