// Цвет основного текста
$color-text-body: #747474;

// Цвет заголовков
$color-title: red;

// Рамер текста
$fz-big-text: 2.618em;
$fz-text: 1em;
$fz-middle: 0.87em;
$small-text: 0.718em;

// Ширина Wrappera
$wrapper_1100: 1100px;


$color-sub-menu: #747474;
