.wrapper {

  &--breadcrumb {
    padding: 0 40px;
  }

  &--breadcrumb-car {
    text-align: center;
  }

  &--block-order {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 150px;
  }

  &--banner__top {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
  }

 /* &--banner__bottom {
    padding-top: 20px;
    display: flex;
    justify-content: flex-end;
  }*/

  &--banner__bottom-rent {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 150px;
  }

  &--banner__rent {
    flex-direction: column;
    justify-content: flex-start;
  }

  &--banner__excavator {
    flex-direction: column;
    justify-content: flex-start;
  }

  &--banner__samosval {
    padding: 0 40px;
    justify-content: space-between;
  }

  &--rent {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &--footer {
    padding: 40px 40px 10px 40px;
    margin-bottom: 40px;
  }

  &--footer-background {
    padding: 20px 0;
    display: flex;
    justify-content: space-around;
    background: #080808;
  }

  &--photo-banner {
    display: flex;
    max-width: 1020px;
    background-color: #fff;
  }

  &--disqus {
    padding: 20px 20px 40px;
    background: #fff;
  }
}

.wrapper-text {
  padding: 20px 40px 10px 40px;
}

.wrapper-table {
  padding-top: 0;
}

/*@media (min-width: 769px) and (max-width: 1024px) {
  .wrapper {

    &--banner__bottom {
      padding-top: 70px;
      justify-content: center;
    }
  }
}*/

@media (max-width: 768px) {
  .wrapper {

    &--footer {
      margin-bottom: 0;
    }

  /*  &--banner__bottom {
      padding-top: 40px;
      justify-content: center;
    }*/

    &--photo-banner {
      flex-direction: column;
    }
  }
}

@media (max-width: 414px) {
  .wrapper-text {
    padding: 20px 20px 10px;
  }

  .wrapper {

    &--footer {
      padding: 40px 20px 10px;
      margin-bottom: 40px;

    }

    &--banner__samosval {
      padding: 0;
    }

    &--breadcrumb {
      padding: 0 20px;
    }

    &--footer-background {
      flex-direction: column;
      text-align: center;
    }
  }

  .wrapper-table {
    padding: 0;
  }
}

@media (max-width: 320px) {
  .wrapper {

    &--breadcrumb {
      padding: 0 15px;
    }
  }
}
