RewriteEngine on
RewriteCond %{SERVER_PORT} !^443$
RewriteRule ^/?(.*) https://%{HTTP_HOST}/$1 [NC,R=301,L]

RewriteCond %{HTTP_HOST} ^www.mastergrunt.ru$ [NC]
RewriteRule ^(.*)$ https://mastergrunt.ru/$1 [R=301,L]


RewriteCond %{REQUEST_URI} ^\/$
RewriteCond %{HTTPS_HOST} ^www\.(.*)$
RewriteRule ^(.*)$ https://%1/$1 [L,R=301]

RewriteCond %{REQUEST_URI} !\?
RewriteCond %{REQUEST_URI} !\&
RewriteCond %{REQUEST_URI} !\=
RewriteCond %{REQUEST_URI} !\.
RewriteCond %{REQUEST_URI} \/$
RewriteCond %{HTTPS_HOST} ^www\.(.*)$
RewriteRule ^(.*)\/$ https://%1/$1 [L,R=301]

RewriteCond %{REQUEST_URI} !\?
RewriteCond %{REQUEST_URI} !\&
RewriteCond %{REQUEST_URI} !\=
RewriteCond %{REQUEST_URI} !\.
RewriteCond %{REQUEST_URI} !\/$
RewriteCond %{HTTPS_HOST} ^www\.(.*)$
RewriteRule ^(.*)$ https://%1/$1 [L,R=301]

RewriteCond %{REQUEST_URI} !\?
RewriteCond %{REQUEST_URI} !\&
RewriteCond %{REQUEST_URI} !\=
RewriteCond %{REQUEST_URI} !\.
RewriteCond %{REQUEST_URI} \/$
RewriteCond %{HTTPS_HOST} ^([^www].*)$
RewriteRule ^(.*)\/$ https://%1/$1 [L,R=301]

RewriteCond %{REQUEST_URI} /index.html
RewriteCond %{QUERY_STRING} ^\z
RewriteRule ^(.*)$ https://mastergrunt.ru/? [R=301,L]

Header always append X-Frame-Options SAMEORIGIN
Header always append X-Content-Type-Options: nosniff
Header always append Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
Header always set X-Xss-Protection "1; mode=block"

Header set Content-Security-Policy "default-src 'self'; script-src 'self' 'unsafe-inline' 'unsafe-eval' userapi.com https://vk.com vk.com https://yastatic.net https://graph.facebook.com connect.facebook.net apis.google.com https://cdn.api.twitter.com *.yandex.ru mc.yandex.ru yandex.st; img-src 'self' data: mc.yandex.ru *.yandex.net yandex.st; style-src 'self' 'unsafe-inline' https://fonts.googleapis.com yandex.st; child-src https://vk.com vk.com *.facebook.com www.youtube.com www.youtube-nocookie.com; font-src 'self' https://fonts.gstatic.com; connect-src 'self' *.yandex.ru; base-uri 'self'; frame-ancestors 'self';"

Header set Referrer-Policy "no-referrer-when-downgrade"

ErrorDocument 404 /404.php


# кеш браузера
<ifModule mod_expires.c>
  ExpiresActive On

  #по умолчанию кеш в 5 секунд
  ExpiresDefault "access plus 10 days"

  # Включаем кэширование изображений и флэш на месяц
  ExpiresByType image/x-icon "access plus 1 month"
  ExpiresByType image/jpeg "access plus 4 weeks"
  ExpiresByType image/png "access plus 30 days"
  ExpiresByType image/gif "access plus 43829 minutes"
  ExpiresByType application/x-shockwave-flash "access plus 2592000 seconds"

  # Включаем кэширование css, javascript и текстовых файлоф на одну неделю
  ExpiresByType text/css "access plus 604800 seconds"
  ExpiresByType text/javascript "access plus 604800 seconds"
  ExpiresByType application/javascript "access plus 604800 seconds"
  ExpiresByType application/x-javascript "access plus 604800 seconds"

  # Включаем кэширование html и htm файлов на один день
  ExpiresByType text/html "access plus 43200 seconds"

  # Включаем кэширование xml файлов на десять минут
  ExpiresByType application/xhtml+xml "access plus 600 seconds"

  # Нестандартные шрифты сайта
  ExpiresByType application/x-font-ttf "access plus 1 month"
  ExpiresByType font/opentype "access plus 1 month"
  ExpiresByType application/x-font-woff "access plus 1 month"
  ExpiresByType image/svg+xml "access plus 1 month"
  ExpiresByType application/vnd.ms-fontobject "access plus 1 month"
</ifModule>
